body {
  margin: 0;
  font-family: "Antonio", sans-serif;
  background-image: url("./assets/background-stars.svg");
  background-color: #070724;
  color: white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #070724;
  background-image: url("./assets/background-stars.svg");
}
.headerLinks ul {
  display: flex;
  padding: 0;
  margin-right: 2rem;
}
.headerLinks li {
  list-style: none;
  margin: 10px;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
}
.headerLogo {
  margin-left: 2rem;
  font-size: 28px;
}
.headerLinks li a {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
.mercuryNav :hover{
  text-decoration: none;
  color: #419ebb;
}
.venusNav :hover{
  color: #EDA249;
}
.earthNav :hover{
  color: #6F2ED6;
}
.marsNav :hover{
  color: #D14C32;
}
.jupiterNav :hover{
  color: #D83A34;
}
.saturnNav :hover{
  color: #CD5120;
}
.uranusNav :hover{
  color: #1EC2A4;
}
.neptuneNav :hover{
  color: #2D68F0;
}


.planetFacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
  margin-left: 10rem;
}
.planetFactsContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 450px;
}
.planetFactsContent h1 {
  font-size: 80px;
  margin: 0;
  margin-bottom: 2rem;
}
.planetFactsContent p {
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-size: 14;
  line-height: 150%;
  margin-bottom: 2rem;
}
.planetFactsLink {
  color: gray;
}
.planetFactsLink a {
  color: gray;
  font-weight: bold;
}
.planetFactsButton {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin-bottom: 1.5rem;
  text-align: start;
  min-height: 50px;
  border: solid 0.5px rgba(255, 255, 255, 0.583);
  border-radius: 2px;
  cursor: pointer;
}
.planetFactsButton span {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
button:hover {
  background-color: #38384f;
}
.spanNum {
  margin-right: 3rem;
  color: rgba(255, 255, 255, 0.75);
}
object {
  max-width: 80%;
}


.planetFactsBottom {
  display: flex;
  margin: 4rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.planetFactsBottomBox {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  width: 350px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.planetFactsBottom p {
  margin: 0;
  font-family: "Spartan";
  font-weight: 600;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.planetFactsBottom h2 {
  margin: 0;
  font-size: 40px;
  padding-left: 20px;
  padding-bottom: 15px;
}
.loader{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25%;
}

@media (max-width: 767px) {
 .headerContainer{
  flex-direction: column;
 }
  .headerLinks ul {
    margin-right: 0;
  }
  .headerLinks li {
    margin: 5px;
    overflow: hidden;
  }
  .headerLogo {
    margin-left: 2rem;
    font-size: 28px;
  }

  .planetFacts{
    margin-left: 0;
  }
  .planetFactsContent{
    text-align: center;
   margin-top: 7.5rem;
  }

  .planetFactsBottomBox {
    width: 450px;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .planetFactsBottom p {
    font-size: 12px;
  }
  .planetFactsBottom h2 {
    margin-top: .5rem;
    font-size: 25px;
    padding-right: 20px;
  }
  
}
